.centrado {
    margin-top: 5%;
}

.centradoo {
    margin-top: 10%;
    margin-bottom: 9%;
}

.centradooo {
    margin: 350px 0px 0px 40%;
}
/*pantalla pequeña*/
@media (max-width: 260px) {
    .centradoInicio {
        margin: 12% 0px 0px 5%;
    }
}
/*mediana*/
@media (min-width: 400px) and (max-width: 1000px) {
    .centradoInicio {
        margin: 12% 0px 0px 10%;
    }
}

/*pantalla grandes*/
@media (min-width: 1000px) and (max-width: 2000px) {
    .centradoInicio {
        margin: 12% 0px 0px 32%;
    }
}

.centradooor {
    margin-top: 1%;
}

.margenTabla {
    margin: 0px 10px 0px 10px;
}

.col {
    background-color: #C2C8C5;
}


body {
    background-color: #DDDDDA !important;

}

.circul {
    border-radius: 100%;
    background-color: #C2C8C5;
    width: 120px;
    height: 120px;
    display: block;
    transition: 1s all;
}

.circul:hover {
    background-color: #000000;
    color: #ffffff;
    /* width: 200px;
    height: 200px; */
}

.circul i {
    margin-top: 20%;
    font-size: 65px;

}

.topdiv {
    margin-top: 40%;
}